.navbar{
    /* color: rgba(4, 4, 4); */
    margin-left: 0rem;
    border: solid 2px;
    background-color: rgba(4, 4, 4, 1);
}
.navbar .nav-container{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-right: 0.5rem;
    color: white;
}

.navbar-nav{
    margin-right: 50rem;
}

.navbar-collapse{
    padding-right: 2rem;
}

.nav-logo{
    width: 1.7rem;
    height: 1.7rem;
}

.nav-link{
    color: rgb(136, 132, 132);
}

.navbar-brand{
    color: beige !important;
}


/* .navbar-text button {
    font-weight: 700;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: black;
    transition: 0.3s ease-in-out;
} */



